input:disabled {
	border: none;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

div[data-ajax] .panel-heading > button.btn-primary {
	border-color: #000;
}

div[data-ajax] .panel-heading > button.btn {
	margin: -6px -6px -6px 6px;
}

div[data-ajax] .panel-heading > button.btn.btn-sm {
	margin: -5px -5px -5px 5px;
}

div[data-ajax] .panel-heading > button.btn.btn-lg {
	margin: -7px -7px -7px 7px;
}

div[data-ajax] .btn-primary {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 205, 0);
	border-color: rgb(255, 255, 255);
}

div[data-ajax] .btn-primary .badge {
	/*color: rgb(255, 205, 0);*/
	color: #000;
	background-color: #fff;
}

div[data-ajax] .btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: rgb(255, 205, 0);
	border-color: rgb(255, 255, 0);
	/*background-color: #204d74;*/
	/*border-color: #122b40;*/
}

div[data-ajax] .bg-primary {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 205, 0);
}
